@color: 'blue';

body {
  color: @color;
}

div {
  transform: translateY(-1px);
}

.desc {
  color: @color;
}

.box {
  width: 500px;
  height: 300px;
  background-color: blue;
  // background: url("../images/gulp_logo.jpeg") no-repeat center center / contain;
}
