* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

body {
  padding-top: 100px;
  text-align: center;
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('../fonts/din-regular.otf');
}
